# {{ .Metadata.Name }}

**Version:** {{ .Metadata.Version }}

**Tags:** {{ join .Metadata.Tags ", " }}

**Scope:**
- **Languages:** {{ join .Metadata.Scope.Languages ", " }}
{{- if .Metadata.Scope.AppliesTo }}
- **Applies to:** {{ join .Metadata.Scope.AppliesTo ", " }}
{{- end }}
{{- if .Metadata.Scope.NotApplicableTo }}
- **Not applicable to:** {{ join .Metadata.Scope.NotApplicableTo ", " }}
{{- end }}

{{- if .Metadata.Related.Standard }}

**Related standards:**
{{- range .Metadata.Related.Standard }}
- {{ . }}
{{- end }}
{{- end }}

## Table of Contents

- [Specification](#specification)
  - [Purpose](#purpose)
  - [Goals](#goals)
{{- if .Specification.NonGoals }}
  - [Non-Goals](#non-goals)
{{- end }}
{{- if .Definitions }}
{{- if or .Definitions.Fields .Definitions.Terms }}
- [Definitions](#definitions)
{{- if .Definitions.Fields }}
  - [Fields](#fields)
{{- end }}
{{- if .Definitions.Terms }}
  - [Terms](#terms)
{{- end }}
{{- end }}
{{- end }}
- [Requirements](#requirements)
{{- if .GoldenPath }}
- [Golden Path](#golden-path)
  - [Steps](#steps)
{{- if .GoldenPath.Examples }}
  - [Examples](#examples)
{{- range .GoldenPath.Examples }}
    - [{{ .Name }}](#{{ slugify .Name }})
{{- end }}
{{- end }}
{{- end }}
- [Good Examples](#good-examples)
{{- range .Examples.Good }}
  - [{{ .Title }}](#{{ slugify .Title }})
{{- end }}
{{- if .Examples.Bad }}
- [Bad Examples](#bad-examples)
{{- range .Examples.Bad }}
  - [{{ .Title }}](#{{ slugify .Title }})
{{- end }}
{{- end }}
{{- if .References }}
- [References](#references)
{{- end }}

## Specification

### Purpose

{{ .Specification.Purpose }}

### Goals

{{ range $i, $g := .Specification.Goals -}}
{{ add $i 1 }}. {{ $g }}
{{ end }}
{{- if .Specification.NonGoals }}

### Non-Goals

{{ range $i, $ng := .Specification.NonGoals -}}
{{ add $i 1 }}. {{ $ng }}
{{ end }}
{{- end }}

{{- if .Definitions }}
{{- if or .Definitions.Fields .Definitions.Terms }}

## Definitions
{{- end }}

{{- if .Definitions.Fields }}

### Fields

| Field Name |
|------------|
{{- range .Definitions.Fields }}
| {{ .FieldName }} |
{{- end }}
{{- end }}

{{- if .Definitions.Terms }}

### Terms

| Abbreviation | Term | Meaning |
|--------------|------|---------|
{{- range .Definitions.Terms }}
| {{ .Abbreviation }} | {{ .Term }} | {{ .Meaning }} |
{{- end }}
{{- end }}
{{- end }}

## Requirements

{{ range $i, $rule := .Requirements.Rules -}}
### Rule {{ add $i 1 }}: **{{ upper $rule.Level }}**

**Statement:** {{ $rule.Statement }}

**Rationale:** {{ $rule.Rationale }}

{{- if $rule.Exceptions }}

**Exceptions:**
{{- range $rule.Exceptions }}
- {{ .When }}
{{- end }}
{{- end }}

{{- if $rule.VerificationMethod }}

**Verification:**
{{- range $rule.VerificationMethod }}
- **{{ .Type }}:** {{ .Hint }}
{{- end }}
{{- end }}

{{ end }}
{{- if .GoldenPath }}

## Golden Path

### Steps

{{ range $i, $step := .GoldenPath.Steps -}}
{{ add $i 1 }}. {{ $step }}
{{ end }}
{{- if .GoldenPath.Examples }}

### Examples

{{ range .GoldenPath.Examples -}}
#### {{ .Name }}

{{- if .When }}

**When:**
{{- range .When }}
- {{ . }}
{{- end }}
{{- end }}

**Steps:**
{{ range $i, $step := .Steps -}}
{{ add $i 1 }}. {{ $step }}
{{ end }}
{{- if .Examples }}

{{ range .Examples -}}
**`{{ .Path }}`**
{{ codeFence }}
{{ trimTrailingNewlines .Snippet }}
{{ codeFence }}

{{ end }}
{{- end }}
{{ end }}
{{- end }}
{{- end }}

## Good Examples

{{ range .Examples.Good -}}
### {{ .Title }}

{{ codeFence }}{{ .Language }}
{{ trimTrailingNewlines .Snippet }}
{{ codeFence }}

**Reason:** {{ .Reason }}

{{ end }}
{{- if .Examples.Bad }}

## Bad Examples

{{ range .Examples.Bad -}}
### {{ .Title }}

{{ codeFence }}{{ .Language }}
{{ trimTrailingNewlines .Snippet }}
{{ codeFence }}

**Reason:** {{ .Reason }}

{{ end }}
{{- end }}
{{- if .References }}

## References

| Title | Type | Link |
|-------|------|------|
{{- range .References }}
| {{ .Title }} | {{ .Type }} | {{ .URI }} |
{{- end }}
{{- end }}

---

*This document was automatically generated by projectkit on {{ now }}. Do not edit manually.*
